In [19]:
import pandas as pd


Table = pd.DataFrame({
    'Income': [157434, 261952, 144657, 118777, 147511, 163025, 120131, 162745, 155569],
    'Education': [0, 2, 0, 1, 1, 2, 0, 0, 1]
})

Table

   Income  Education
0  157434          0
1  261952          2
2  144657          0
3  118777          1
4  147511          1
5  163025          2
6  120131          0
7  162745          0
8  155569          1

In [33]:
import statistics

Income_E_2 = [157434, 144657, 120131, 162745]

statistics.mean(Income_E_2)

print("Mean of the sample is % s " %(statistics.mean(Income_E_2))) 
print("Standard Deviation of the sample is % s "%(statistics.stdev(Income_E_2)))

Mean of the sample is 146241.75
Standard Deviation of the sample is 18990.404759158417

In [35]:
import numpy as np #for declaring an array
 
def mean(data):
  n = len(data)
  mean = sum(data) / n
  return mean
 
def variance(data):
  n = len(data)
  mean = sum(data) / n
  deviations = [(x - mean) ** 2 for x in data]
  variance = sum(deviations) / n
  return variance
 
def stdev(data):
  import math
  var = variance(data)
  std_dev = math.sqrt(var)
  return std_dev
 
data = np.array([261952,163025])
 
print("Standard Deviation of the sample is % s "% (stdev(data)))
print("Mean of the sample is % s " % (mean(data)))

Standard Deviation of the sample is 49463.5
Mean of the sample is 212488.5

In [4]:
import math
from math import sqrt, pi, e

In [3]:
def gauss_distr(mu, sigmaSquare, x):
    return (1 / sqrt(2 * pi * sigmaSquare)) * e ** ((-0.5) * (x - mu) ** 2 / sigmaSquare)

In [8]:
sigma1 = 52541.39 
mu1 = 188014.34
x1 = 162745
sigmaSquare1 = pow(sigma1, 2)

f_x_mu1_sigma1 = gauss_distr(mu1, sigmaSquare1, x1)

f_x_mu1_sigma1

6.763652779492298e-06

In [10]:
sigma2 = 18330.95  
mu2 = 143104.34
x2 = 162745
sigmaSquare2 = pow(sigma2, 2)

f_x_mu2_sigma2 = gauss_distr(mu2, sigmaSquare2, x2)

f_x_mu2_sigma2

1.2258571819924825e-05

In [12]:
sigma3 = 18628.83  
mu3 = 146148.34
x3 = 162745
sigmaSquare3 = pow(sigma3, 2)

f_x_mu3_sigma3 = gauss_distr(mu3, sigmaSquare3, x3)

f_x_mu3_sigma3

1.4400223172210647e-05

In [39]:
Z6_1 = f_x_mu1_sigma1 /( f_x_mu1_sigma1 + f_x_mu2_sigma2+f_x_mu3_sigma3)
Z6_1

0.20236856455600313

In [40]:
Z6_2 = f_x_mu2_sigma2/(f_x_mu2_sigma2+f_x_mu1_sigma1+f_x_mu3_sigma3)
Z6_2

0.36677660187208355

In [41]:
Z6_3 = f_x_mu3_sigma3/(f_x_mu3_sigma3+f_x_mu1_sigma1+f_x_mu2_sigma2)
Z6_3

0.43085483357191334

using chatgpt

In [1]:
import numpy as np
from scipy.stats import norm

# Given dataset
data = np.array([
    [157434, 0],
    [261952, 2],
    [144657, 0],
    [118777, 1],
    [147511, 1],
    [163025, 2],
    [120131, 0],
    [162745, 0],
    [155569, 1]
])

# Initialize parameters
mu = np.array([188014.34, 143104.34, 146148.34])
sigma = np.array([52541.39, 18330.95, 18628.83])
weights = np.zeros((9, 3))

# Calculate likelihoods for each cluster at x=162745
x = 162745
likelihoods = norm.pdf(x, loc=mu, scale=sigma)
f1 = likelihoods[0]
f2 = likelihoods[1]
f3 = likelihoods[2]
print("fμ1,σ1(162745) =", f1)
print("fμ2,σ2(162745) =", f2)
print("fμ3,σ3(162745) =", f3)

# Calculate weights for the 6th data point
pdf = np.vstack([norm.pdf(data[:, 0], loc=mu[j], scale=sigma[j]) for j in range(3)]).T
gamma = np.vstack([pdf[i] / np.sum(pdf[i]) for i in range(9)])
weights[5, :] = gamma[5, :]
z1 = weights[5, 0]
z2 = weights[5, 1]
z3 = weights[5, 2]
print("z6,1 =", z1)
print("z6,2 =", z2)
print("z6,3 =", z3)

fμ1,σ1(162745) = 6.763652779492299e-06
fμ2,σ2(162745) = 1.2258571819924825e-05
fμ3,σ3(162745) = 1.4400223172210647e-05
z6,1 = 0.20519521745002928
z6,2 = 0.3648887899464584
z6,3 = 0.42991599260351243